@{
    ViewBag.Title = "Home Page";
}

<div class="bg-white shadow-1dp col-lg-12">
    <div class="row">

        <div class="col-lg-8">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://www.vuslatplatformu.com/media/k2/items/cache/ee842e3019fee30e4ca87cc93974d54b_M.jpg" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Ufuktaki Yeni Türkiye - Gençlik ve Geleceği Konulu Sempozyumla İlgili Genişletilmiş İstişare toplantısı düzenlendi.</h3>
                            <p>4.5.6 Kasım 2016 Tarihinde Abant Palas Otel de yapılacak Ufuktaki Yeni Türkiye - Gençlik ve Geleceği Konulu Sempozyumla İlgili Genişletilmiş İstişare toplantısı Üsküdar Nakkaştepe Bridge Restaurantta Yapıldı.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="http://www.vuslatplatformu.com/media/k2/items/cache/9ded0288e863fbe79d863f606cb05c21_L.jpg" alt="Chicago">
                        <div class="carousel-caption">
                            <h3>Cumhurbaşkanımızı Zihayer Ettik</h3>
                            <p>CUMHURBAŞKANIMIZ RECEP TAYYİP ERDOĞAN 'ı ZİYARET ETTİK</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="http://www.vuslatplatformu.com/media/k2/items/cache/a42a2aa6c7440291c38ba9adc5892a56_L.jpg" alt="New York">
                        <div class="carousel-caption">
                            <h3>Ferhat Koç'tan: Hasretten Vuslata</h3>
                            <p>Gönülleri sıla hasretiyle yananlar bu hasretlerini vuslata dönüştürmenin gayretiyle uzunca bir zamandır Vuslat buluşmaları adıyla faaliyetlerini sürdürerek bu düşüncelerini hayata geçirmenin çabasıyla çalışmalarını fiiliyata geçirmişlerdir.</p>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"><br></span>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="haberler">
                <h3>Haberler</h3>
                <div class="haberler-liste">
                    <a class="haber">
                        <img class="haber-resim" src="http://www.vuslatplatformu.com/media/k2/items/cache/ee842e3019fee30e4ca87cc93974d54b_M.jpg" />
                        <p class="haber-icerik">
                            Ufuktaki Yeni Türkiye - Gençlik ve Geleceği Konulu Sempozyumla İlgili Genişletilmiş İstişare toplantısı düzenlendi.
                        </p>
                    </a>
                    <a class="haber">
                        <img class="haber-resim" src="http://www.vuslatplatformu.com/media/k2/items/cache/9ded0288e863fbe79d863f606cb05c21_L.jpg" />
                        <p class="haber-icerik">
                            CUMHURBAŞKANIMIZ RECEP TAYYİP ERDOĞAN 'ı ZİYARET ETTİK Salona Gelişinde Uluslararası Vuslat Derneği vuslatpla...
                        </p>
                    </a>
                    <a class="haber">
                        <img class="haber-resim" src="http://www.vuslatplatformu.com/media/k2/items/cache/ee842e3019fee30e4ca87cc93974d54b_M.jpg" />
                        <p class="haber-icerik">
                            Uluslararası Vuslat Derneği tarafından düzenlenen "Ufuktaki Yeni Türkiye" konulu konferansta konuşan
                        </p>
                    </a>
                    <a class="haber">
                        <img class="haber-resim" src="http://www.vuslatplatformu.com/media/k2/items/cache/ee842e3019fee30e4ca87cc93974d54b_M.jpg" />
                        <p class="haber-icerik">
                            Ufuktaki Yeni Türkiye - Gençlik ve Geleceği Konulu Sempozyumla İlgili Genişletilmiş İstişare toplantısı düzenlendi.
                        </p>
                    </a>
                </div>
                <a href="#" class="btn pull-right">Hepsini Gör</a>
            </div>
        </div>
    </div>

</div>

<div class="col-lg-12 ">
    <h1 class="big-header">Basında Uluslararası Vuslat Derneği</h1>
</div>

<div class="cards col-lg-12">
    <div class="row">
        <div class="col-lg-4">
            <div class="card shadow-1dp bg-white">
                <div class="card-header">
                    <h3 class="card-link">
                        CUMHURBAŞKANIMIZI ZİYARET ETTİK
                    </h3>
                    <div class="card-info">
                        <p class="pull-left">Mar 26, 2015</p>
                        <p class="pull-right">Tıklanma: 1732</p>
                    </div>
                </div>
                <div class="card-body">
                    <img class="card-image" src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.9ded0288e863fbe79d863f606cb05c21_Genericnsp-225.jpg" />
                </div>
                <div class="card-footer">
                    CUMHURBAŞKANIMIZ RECEP TAYYİP ERDOĞAN 'ı ZİYARET ETTİK Salona Gelişinde Uluslararası..
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow-1dp bg-white">
                <div class="card-header">
                    <h3 class="card-link">
                        İbrahim Kalın: Yeni Türkiye'nin yolu
                    </h3>
                    <div class="card-info">
                        <p class="pull-left">Mar 26, 2015</p>
                        <p class="pull-right">Tıklanma: 1732</p>
                    </div>
                </div>
                <div class="card-body">
                    <img class="card-image" src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.4ab4b6df96c060fa741e97b50eafb07c_Genericnsp-225.jpg" />
                </div>
                <div class="card-footer">
                    Uluslararası Vuslat Derneği tarafından düzenlenen "Ufuktaki Yeni Türkiye" konulu konferansta konuşan .
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow-1dp bg-white">
                <div class="card-header">
                    <h3 class="card-link">
                        Ferhat Koç'tan: Hasretten Vuslata
                    </h3>
                    <div class="card-info">
                        <p class="pull-left">Mar 26, 2015</p>
                        <p class="pull-right">Tıklanma: 1732</p>
                    </div>
                </div>
                <div class="card-body">
                    <img class="card-image" src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.a42a2aa6c7440291c38ba9adc5892a56_Genericnsp-225.jpg" />
                </div>
                <div class="card-footer">
                    Gönülleri sıla hasretiyle yananlar bu hasretlerini vuslata dönüştürmenin gayretiyle uzunca bir zamandır Vuslat...
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow-1dp bg-white">
                <div class="card-header">
                    <h3 class="card-link">
                        Ümraniye Belediye Başkanı Hasan Can
                    </h3>
                    <div class="card-info">
                        <p class="pull-left">Mar 26, 2015</p>
                        <p class="pull-right">Tıklanma: 1732</p>
                    </div>
                </div>
                <div class="card-body">
                    <img class="card-image" src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.048731097de322302aff7e52151c991d_Genericnsp-225.jpg" />
                </div>
                <div class="card-footer">
                    Vuslat Platformu tarafından Bolu-Abant’ta düzenlenen "Kimlik Krizi ve Kültürel Değişim" konulu sempozyum büyük...
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow-1dp bg-white">
                <div class="card-header">
                    <h3 class="card-link">
                        Sabiha Doğan Milat - Kimlik Krizi ve kültürel
                    </h3>
                    <div class="card-info">
                        <p class="pull-left">Mar 26, 2015</p>
                        <p class="pull-right">Tıklanma: 1732</p>
                    </div>
                </div>
                <div class="card-body">
                    <img class="card-image" src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.d6e7bc44feb1613d041d5385e5745b10_Genericnsp-225.jpg" />
                </div>
                <div class="card-footer">
                    Modernleşme sürecine girmemizle birlikte toplumsal mahiyette bir kimlik krizi ve kültürel bir değişim yaşadığı...
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow-1dp bg-white">
                <div class="card-header">
                    <h3 class="card-link">
                        Diyanet İşleri Başkanı Mehmet Görmez
                    </h3>
                    <div class="card-info">
                        <p class="pull-left">Mar 26, 2015</p>
                        <p class="pull-right">Tıklanma: 1732</p>
                    </div>
                </div>
                <div class="card-body">
                    <img class="card-image" src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.aaa036e4cb16038f90e128d8e39c714f_Genericnsp-225.jpg" />
                </div>
                <div class="card-footer">
                    Vuslat Platformu'nun, Bolu Abant Tabiat Parkı'nda bulunan Abant Palace Otel'de düzenlediği 'Kimlik Krizi ve Kü...
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 ">
    <h1 class="big-header">Videolarımızı izleyin</h1>
</div>

<div class="col-lg-12 bg-white shadow-1dp margin-bottom">
    <div class="row">
        <div class="col-lg-6">
            <div id="videoCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#videoCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#videoCarousel" data-slide-to="1"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.358873fad4914931314b94f2036b503a_XLnsp-189.jpg" alt="Chania">
                        <div class="carousel-caption">
                            <h3>Vuslat Platformu 2010 2013 Yılları çalışmalarından fotovideo</h3>
                        </div>
                    </div>

                    <div class="item">
                        <img src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.0c758c944f0062609b2677e28107bc5e_XLnsp-189.jpg" alt="Chicago">
                        <div class="carousel-caption">
                            <h3>Kimlik Krizi ve Kültürel Değişim Sempozyumu 29.30.31. Mayıs 2014 Bolu Abant </h3>
                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#videoCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#videoCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"><br></span>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="videolar">
                <div class="video-element">
                    <img class="video-image" src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.0c758c944f0062609b2677e28107bc5e_XLnsp-189.jpg" />
                    <p class="video-icerik">Uluslararası Vuslat Derneği - Vuslat Platformu Ülketv Anahaber</p>
                </div>
                <div class="video-element">
                    <img class="video-image" src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.73608782f50eb6af17bb69bdcd662692_XLnsp-189.jpg" />
                    <p class="video-icerik">Uluslararası Vuslat Platformu 2014 Abant Sempozyumu İslam Dünyasında Dinle Kimlik Arasındaki İlişki Diyanet İsleri Baskanımız Mehmet Görmez Beyefendinin Kapanış Konuşması</p>
                </div>
                <div class="video-element">
                    <img class="video-image" src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.c1011ef61ed9937904f4938c63d014ea_XLnsp-189.jpg" />
                    <p class="video-icerik">Uluslararası Vuslat Derneği İstişare Kurulu Üyesi Dr Ravza Kan Kavakçı (Hasan Kalyoncu Üniversitesi Öğretim Görevlisi ) TRT Haber Konuk Odası Programının Konuğuydu Bölüm 1</p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 margin-bottom">
    <div class="row">
        <div class="col-lg-8">
            <h3>En Trend Yazılar</h3>
            <div class="trend-yazilar">
                <div class="yazi bg-white shadow-1dp margin-bottom">
                    <div class="img-container">
                        <img src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.ee842e3019fee30e4ca87cc93974d54b_XLnsp-243.jpg"/>
                    </div>
                    <div class="yazi-icerik">
                        <p class="yazi-info">Kas 03, 2016   Tıklanma: 1221</p>
                        <h4>Ufuktaki Yeni Türkiye - Gençlik…</h4>
                        <p>4.5.6 Kasım 2016 Tarihinde Abant Palas Otel de yapılacak Ufuktaki Yeni Türkiye - Gençlik ve Gel...</p>
                    </div>
                </div>
                <div class="yazi bg-white shadow-1dp margin-bottom">
                    <div class="img-container">
                        <img src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.f60a47f7792630a3a86bc14c0657e89c_XLnsp-243.jpg" />
                    </div>
                    <div class="yazi-icerik">
                        <p class="yazi-info">Kas 03, 2016   Tıklanma: 1221</p>
                        <h4>Cumhurbaşkanımızı dinlerken… …</h4>
                        <p>İki yıl önce Kölnden İstanbula gitmek için THY uçağına binip koltuğuma oturduğumda ne göreyim. ...</p>
                    </div>
                </div>
                <div class="yazi bg-white shadow-1dp margin-bottom">
                    <div class="img-container">
                        <img src="http://www.vuslatplatformu.com/modules/mod_news_pro_gk5/cache/k2.items.cache.9ded0288e863fbe79d863f606cb05c21_XLnsp-243.jpg" />
                    </div>
                    <div class="yazi-icerik">
                        <p class="yazi-info">Kas 03, 2016   Tıklanma: 1221</p>
                        <h4>CUMHURBAŞKANIMIZI ZİYARET ETTİK</h4>
                        <p>CUMHURBAŞKANIMIZ RECEP TAYYİP ERDOĞAN 'ı ZİYARET ETTİK Salona Gelişinde Uluslararası Vuslat De...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h3>Köşe Yazarlarımız</h3>
            <div class="kose-yazarlari bg-white shadow-1dp">
                <div class="yazar">
                    <img src="http://www.vuslatplatformu.com/images/staff/MK2.jpg"/>
                    <strong>Merve Kavakcı</strong>
                    <span>ÖĞRETİM ÜYESİ</span>
                </div>
                <div class="yazar">
                    <img src="http://www.vuslatplatformu.com/images/staff/ek2.jpg" />
                    <strong>Ekrem Kızıltaş</strong>
                    <span>GAZETECİ, YAZAR</span>
                </div>
                <div class="yazar">
                    <img src="http://www.vuslatplatformu.com/images/staff/aaltunbas.png" />
                    <strong>Arif Altunbaş</strong>
                    <span>GAZETECİ, YAZAR</span>
                </div>
                <div class="yazar">
                    <img src="http://www.vuslatplatformu.com/images/staff/sy.png" />
                    <strong>Şevki Yılmaz</strong>
                    <span>GAZETECİ, YAZAR</span>
                </div>
                <div class="yazar">
                    <img src="http://www.vuslatplatformu.com/images/staff/se.png" />
                    <strong>Sibel Eraslan</strong>
                    <span>GAZETECİ, YAZAR</span>
                </div>
                <div class="yazar">
                    <img src="http://www.vuslatplatformu.com/images/staff/ahc.jpg" />
                    <strong>Ahmet Hamdi Çamlı</strong>
                    <span>GAZETECİ, YAZAR</span>
                </div>
            </div>
        </div>
    </div>
</div>